<h2>All Restaurants: Index Page</h2>

<% @restaurants.each do |restaurant| %>
	<div class="restaurant_index_page" >
		<h3><%= restaurant.name %></h3>
		<%= restaurant.price_range %><br>
		<%= restaurant.summary %>
		<br>
	</div>
<% end %>
